.container {
    max-width: 1366px;
    margin: 0 auto;
}

.header-section {}

.header {
    display: flex;
    background-image: url(../asset//img/big-bg-logo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #001A2E;
    padding-top: 27px;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
    list-style: none;
    float: left;
    margin-left: 48px;
    font-size: 14px;
    color: white;

}

.right-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.right-header button {
    color: white;
    background-color: #00A05A;
    font-size: 14px;
    padding: 10px 30px 10px 30px;
    border: none;
    margin-left: 30px;
}

.right-header p {
    margin-left: 30px;
    font-size: 14px;
    color: white;
}

.learning {
    display: flex;
}

.learning-right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 78px;
    background-image: url('../asset/img/big-bg-logo.png');
}

.learning-right-section button {
    color: white;
    background-color: #00A05A;
    font-size: 14px;
    padding: 10px 30px 10px 30px;
    border: none;
    max-width: 218px;
}

.learning-right-section h1 {
    color: #F14E9B;
    font-size: 18px;
    margin-bottom: 18px;
}

.learning-right-section h2 {
    color: #000000;
    font-size: 32px;
    margin-bottom: 19px;
}

.learning-right-section p {
    margin-bottom: 41px;
    font-size: 14px;
    max-width: 450px;
}

.card-section-detail {
    margin-top: 100px;
    text-align: center;
}

.card-section-detail h2 {
    font-size: 40px;
}

.card-section-detail p {
    font-size: 14px;
    margin: 20px 260px 0;
}

.card {
    border: #E6E6E6 1px solid;
    border-radius: 10px;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
}

.card h2 {
    font-size: 30px;
    margin-bottom: 9px;
    margin-top: 6px;
}

.card-Details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 19px;
    margin-left: 255px;
    margin-right: 255px;
    margin-top: 40px;
    margin-bottom: 103px;
}

.main-section-detail {
    padding: 60px;
    padding: 100px;
    background-color: #001A2E;
    display: flex;
}

.mainsection-rignt h2 {
    font-size: 40px;
    color: white;

}

.mainsection-rignt p {
    font-size: 14px;
    color: white;
}