
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
  font-family: 'Manrope';
  src: url('./asset/fonts/Manrope-SemiBold.eot');
  src: url('./asset/fonts/Manrope-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('./asset/fonts/Manrope-SemiBold.woff2') format('woff2'),
      url('./asset/fonts/Manrope-SemiBold.woff') format('woff'),
      url('./asset/fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./asset/fonts/Manrope-Regular.eot');
  src: url('./asset/fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
      url('./asset/fonts/Manrope-Regular.woff2') format('woff2'),
      url('./asset/fonts/Manrope-Regular.woff') format('woff'),
      url('./asset/fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./asset/fonts/Manrope-Medium.eot');
  src: url('./asset/fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
      url('./asset/fonts/Manrope-Medium.woff2') format('woff2'),
      url('./asset/fonts/Manrope-Medium.woff') format('woff'),
      url('./asset/fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./asset/fonts/Manrope-ExtraBold.eot');
  src: url('./asset/fonts/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('./asset/fonts/Manrope-ExtraBold.woff2') format('woff2'),
      url('./asset/fonts/Manrope-ExtraBold.woff') format('woff'),
      url('./asset/fonts/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./asset/fonts/Manrope-ExtraLight.eot');
  src: url('./asset/fonts/Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('./asset/fonts/Manrope-ExtraLight.woff2') format('woff2'),
      url('./asset/fonts/Manrope-ExtraLight.woff') format('woff'),
      url('./asset/fonts/Manrope-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./asset/fonts/Manrope-Light.eot');
  src: url('./asset/fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
      url('./asset/fonts/Manrope-Light.woff2') format('woff2'),
      url('./asset/fonts/Manrope-Light.woff') format('woff'),
      url('./asset/fonts/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./asset/fonts/Manrope-Bold.eot');
  src: url('./asset/fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
      url('./asset/fonts/Manrope-Bold.woff2') format('woff2'),
      url('./asset/fonts/Manrope-Bold.woff') format('woff'),
      url('./asset/fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
